/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

 #l2g .facebook, 
 #l2g .twitter, 
 #l2g .gplusone {
 	width: inherit;
 }

 @media (min-width: 768px) {

 	.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
 		text-shadow: 1px 1px 2px #2c2d33;
 	}

 	.secondary-navigation .menu > li > a {
 		text-shadow: 1px 1px 2px #2c2d33;
 	}

 	.right-sidebar .widget-area {
 		float: left;
 		margin-right: 4.347826087%;
 	}

 	.right-sidebar .content-area {
 		float: right;
 		margin-right: 0;
 	}

 	.col-full {
 		max-width: 1400px;
 	}

 	.site-header-cart .cart-contents {
 		padding: 0 1em 2.210em !important;
 	}

 	#coupon-code-wrapper .woocommerce-error,
 	#coupon-code-wrapper .woocommerce-message {
 		margin-right: 13px;
 	}

 	.storefront-primary-navigation {
 		background: rgba(0, 0, 0, 0);
 	}

 	.woocommerce-active .site-header .site-header-cart {
 		padding-top: 1.618em;
 	}

 	.secondary-navigation .menu a {
 		font-weight: 400;
 	}

 }

 @media only screen and (max-width: 480px) {

 	.ssl-secure-seal-logo,
 	.widget_nav_menu,
 	.widget_vendocrat_payment_methods {
 		margin: 0 0 1em !important;
 	}

 	.ssl-secure-seal-logo img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 	}

 	.menu-footer-menu-container {
 		text-align: center;
 	}

 	ul#menu-footer-menu li {
 		display: inherit !important;
 	}

 	.widget_nav_menu ul li:after {
 		content: none !important;
 	}

 	.widget_vendocrat_payment_methods {
 		float: none !important;
 		text-align: center;
 	}

 }

 /*@media (max-width: 65.141em) {

 	.sticky-menu-cart {
 		position: relative !important;
 		top: inherit !important;
 	}

 	.sticky-add-content-top-space {
 		position: inherit !important;
 	}

 }

 @media (max-width: 568px) {

 	.sticky-menu-cart {
 		position: relative !important;
 		top: inherit !important;
 	}

 	.sticky-add-content-top-space {
 		position: inherit !important;
 	}

 	}
 *
 */

 .pp_pic_holder div.ppt {
 	display: none !important;
 }

 .price ins,
 .price-extra-info.red-color,
 .price-extra-info .red-color {
 	color: #dd3333;
 }

 .price-extra-info {
 	opacity: 0.7;
 	font-size: 12px;
 }

 ul.products li.product .price {
 	font-size: 20px;
 }

 .single-product div.product .price {
 	font-size: 24px;
 }

 .woocommerce-checkout.scc-distraction-free-checkout.page-template-default .content-area {
 	width: 100% !important;
 }

 .swc-loader {
 	text-align: center;
 }

 .swc-loader:before {
 	content: none !important;
 }

 .page-template-template-homepage .storefront-product-categories ul.products li.product {
 	margin-bottom: 2.236em;
 }

 .page-template-template-homepage .storefront-product-categories ul.products li.product.product-category img {
 	width: 100%;
 }

 .site-header {
 	background-position: center 0;
 	background-repeat: repeat no-repeat;
 }

 .on-stock-number span {
 	float: right;
 	padding: 0 8px 0;
 	display: inline-block;
 	font-size: 12px;
 	font-weight: bold;
 	line-height: 21px;
 	color: #dd3333;
 	border: 2px solid #dd3333;
 	border-bottom: 0;
 }

 .single_add_to_cart_button {
 	padding: 0.618em 1.540em;
 }

 .site-header-cart .widget_shopping_cart {
 	background-color: #2c2d33 !important;
 }

 .product_list_widget li.mini_cart_item {
 	border-bottom: 2px solid rgb(96, 100, 108) !important;
 }

 .site-header-cart .widget_shopping_cart .product_list_widget {
 	font-weight: bold;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 .sticky-menu-cart {
 	position: fixed;
 	width: 100%;
 	top: -140px;
 }

 .sticky-add-content-top-space {
 	position: relative;
 	top: 222px;
 	margin-bottom: 222px;
 }

 #coupon-code-wrapper .woocommerce-info,
 #coupon-code-wrapper form.checkout_coupon,
 #coupon-code-wrapper .woocommerce-error,
 #coupon-code-wrapper .woocommerce-message {
 	float: right;
 	margin-bottom: 0.5em;
 	clear: both;
 }

 #coupon-code-wrapper p.form-row {
 	margin: 0;
 }

 #coupon-code-wrapper .woocommerce-info,
 #coupon-code-wrapper .woocommerce-error,
 #coupon-code-wrapper .woocommerce-message {
 	padding: 0 0.5em;
 }

 #coupon-code-wrapper .woocommerce-info {
 	background-color: inherit !important;
 	color: #666 !important;
 }

 #coupon-code-wrapper .woocommerce-info a {
 	color: #666 !important;
 }

 #coupon-code-wrapper .input-text {
 	padding: .3em;
 }

 #coupon-code-wrapper input[type="submit"] {
 	background-color: #666;
 	padding: 0.4em 1em;
 }

 .hide {
 	display: none !important;
 }

 .contact-info-title {
 	margin-top: 20px;
 }

 .woocommerce-checkout-review-order-table td.product-image {
 	padding: 0.4em 1.387em;
 }

 .woocommerce-checkout-review-order-table td.product-image img {
 	width: 100px;
 	margin-bottom: 0;
 }

 #simplemodal-login-overlay {
 	background-color: rgba(0, 0, 0, 0.45) !important;
 }

 #simplemodal-login-container form {
 	padding: 30px !important;
 	border-radius: 0 !important;
 	display: inline-block;
 }

 #simplemodal-login-container form > p {
 	margin: 0 0 20px 0 !important;
 	padding: 0;
 	color: #666;
 	font-size: 0.929em;
 	line-height: 1.3;
 }

 #simplemodal-login-container .title {
 	color: #484c51 !important;
 	padding-bottom: 0 !important;
 }

 #simplemodal-login-container {
 	width: 650px !important;
 }

 #simplemodal-login-container .login-form-container {
 	float: left;
 	width: 58.33333%;
 	border-right: 1px solid #dbdbdb;
 	padding-right: 3%;
 }

 #simplemodal-login-container .guest-checkout {
 	float: right;
 	width: 41.66667%;
 	padding-left: 3%;
 }

 #simplemodal-login-container form .submit {
 	float: left !important;
 }

 #simplemodal-login-container form .submit input {
 	background-color: #000 !important;
 	padding: 10px 22px 10px !important;
 	width: 175px;
 	text-transform: uppercase;
 	border-radius: 0.4em !important;
 }

 #simplemodal-login-container form .submit input.simplemodal-close {
 	background-color: inherit !important;
 	color: #3a3a3a !important;
 	border: inherit;
 	box-shadow: inherit;
 	width: inherit;
 }

 .guest-checkout p {
 	margin: 0 0 20px 0 !important;
 }

 .guest-checkout a.cta {
 	color: #FFFFFF;
 	padding: 10px 22px 10px;
 	text-transform: uppercase;
 	text-align: center;
 	line-height: 1.3em;
 	height: 38px;
 	border-radius: 0.4em;
 	border: none;
 	font-size: 1em;
 	-webkit-appearance: none;
 	text-decoration: none;
 	background: #000000;
 }

 #simplemodal-login-container #lostpasswordform {
 	padding: 30px 100px !important;
 }

 @media only screen and (max-width: 767px) {
 	
 	.columns {
 		width: 100% !important;
 		float: none;
 	}

 	#simplemodal-login-container {
 		left: 0 !important;
 		width: 100% !important;
 		top: 0 !important;
 	}

 	#simplemodal-login-container .guest-checkout {
 		padding-left: 0;
 	}

 	#simplemodal-login-container .login-form-container {
 		border-bottom: 1px solid #dbdbdb;
 		border-right: none;
 		padding-bottom: 5%;
 	}

 	#simplemodal-login-container #lostpasswordform {
 		padding: 30px !important;
 	}
 	
 }

 .ssl-secure-seal-logo {
 	margin-bottom: 0;
 }

 .cu-special-container a img {
 	margin:auto;
 }

 .woocommerce-checkout-review-order .alignright {
 	padding-right: 1.387em;
 	padding-bottom: 6px;
 }

 #site-navigation button.menu-toggle {
 	background-color: rgb(185, 44, 44);
 	border-color: rgb(185, 44, 44);
 }

 .widget_vendocrat_payment_methods {
 	float: right;
 }

 .widget_nav_menu ul li:before {
 	content: none;
 }

 .widget_nav_menu ul li:after {
 	content: " |";
 }

 .widget_nav_menu ul li:last-child:after {
 	content: none;
 }

 ul#menu-footer-menu li {
 	display: inline;
 }

 footer ul.menu li.current-menu-item > a {
 	color: #60646c;
 }

 #payment ul.payment_methods .payment_method_paypal>label:before {
 	display: inline-block;
 	content: '\f10c';
 	font: normal normal normal 1em/1 FontAwesome;
 	color: inherit;
 	background: inherit;
 	margin-right: .53em;
 	padding: 0;
 	vertical-align: inherit;
 }

 body.single-product.woocommerce .product .images .woocommerce-main-image img {
 	margin: auto;
 }

 .page-template-template-homepage .site-main {
 	padding-top: 0;
 }

 .so-offer-content.so-inline div[id^="so-entry-content"] {
 	padding: 0;
 	background: transparent;
 	margin-bottom: 2em;
 }

 .so-offer-content.so-inline .offer-image {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

 .container-fluid {
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
 	margin-left: auto;
 }

 .row {
 	margin-right: -15px;
 	margin-left: -15px;
 }

 @media (min-width: 992px) {
 	.col-md-6 {
 		float: left;
 	}
 	.col-md-6 {
 		width: 50%;
 	}
 }

 .so-offer-content.so-inline div[id^="so-entry-content"] h2,
 .so-offer-content.so-inline div[id^="so-entry-content"] p {
 	margin: 0 0;
 }


